node_modules
out
.DS_Store
*.js.map
*.d.ts
*.js
!/src/**/*.ts
!/package.json
!/tsconfig.json
!/README.md
!/language-configuration.json
!/syntaxes/*.json
!/.vscode/*.json
!/scripts/copy-monaco.js
!/scripts/esbuild.js
.claude/
.gemini/
CLAUDE.md
upload-s3.sh
*.vsix
