.git/**
.gitignore
.claude/**
.gemini/**
.openspec/**
.vscode/**
.vscode-test/**
.DS_Store

src/**
tsconfig.json
*.ts
**/*.ts.map

.eslintrc*
**/.eslintrc*

out/test/**
out/test_types.*

upload-s3.sh
run-tests.sh
scripts/**

node_modules/@types/**
node_modules/**/esm/**
node_modules/**/dist/esm/**
node_modules/**/*.md
node_modules/**/*.markdown
node_modules/**/CHANGELOG*
node_modules/**/LICENSE*
node_modules/**/license*
node_modules/**/.travis.yml
node_modules/**/.npmignore
node_modules/**/.jshintrc
node_modules/**/*.map
node_modules/**/*.mjs
node_modules/**/*.d.ts
node_modules/**/*.d.cts
node_modules/**/*.d.mts

**/*.md
!README.md
