.git/**
.gitignore
.claude/**
.gemini/**
.openspec/**
.vscode/**
.vscode-test/**
.DS_Store

src/**
tsconfig.json
*.ts
**/*.ts.map

.eslintrc*
**/.eslintrc*

out/test/**
out/test_types.*

upload-s3.sh
run-tests.sh
scripts/**

node_modules/**

**/*.md
!README.md
